#!/bin/bash

export JAVA_HOME="{{ graalvm_ce_install_folder }}"
export JRE_HOME="{{ graalvm_ce_install_folder }}"/jre
export GRAALVM_HOME="{{ graalvm_ce_install_folder }}"
export PATH=${PATH}:${JAVA_HOME}/bin:${JRE_HOME}/bin